<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>
 -->

<ion-content class="noScroll">
  <div id="map"></div> 
  <div>
    <a href='#' id='export'>geojson</a>
    <button id="downloadpng">png</button>
  </div>
  



  <div class='map-overlay top'>
      <div class='map-overlay-inner'>
          <fieldset>
              <label>import geojson</label>
              <ion-button size="small" slot="icon-only" id="Import_geojson" (click)="import_geojson()"></ion-button>
              
          </fieldset>
      </div>
  </div>


</ion-content>
